.App {
  text-align: center;
}

.Carrusel {
  border-style: solid;
  height: 350px;
  text-align: center;
  width: 500px;
  margin: auto;
}

.Imagen{
  border-radius: 8px;  
  width: 300px;
}

.Circulo{
  text-align: center;
  border-style: solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}

.Form{
  text-align: center;
  border-style: solid;
  border-color: blue;
  margin: auto;
  width: 300px;
  height: 200px;
}

.FormGit{
  text-align: center;
  border-style: groove;
  border-color: red;
  border-radius: 20px;
  margin: auto;
  width: 300px;
  height: 200px;
}


.GitImagen{
  border-radius: 10px; 
  width: 100px;
};